.header {
    
    .container {
        flex-direction: row;
        justify-content: space-between;

        .company-logo {
            margin-bottom: 0px;/*0*/
        }

        .header-nav {

            .menu {
                flex-direction: row;
                align-items: flex-start;

                &__item:not(:last-child) {
                    margin-right: 30px;/*right*/
                    margin-bottom: 0;
                }
            }

            
        }
    }
}