.promises {
    padding-top: 120px;

    .container {
        background-size: 50% 100%;
    }

    &__right {
        padding: 75px 0 75px 70px;

        div:not(:last-child) {
            margin-right: 100px;
            margin-bottom: 0;
        }

        .fist-element {
            
            &__item {

                p {
                    max-width: 300px;
                }
            }
        }

        .second-element {

            &__link {
                width: 300px;
            }
        }
    }
}