.benefits {

    .container {
        padding: 50px 15px 0;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;

        div {
            display: flex;
            flex-direction: column;
            border-top: 1px solid $blueSilver;
            padding: 30px 15px;

            h3 {
                @include title-text;
                font-size: 35px;
                max-width: 100%; 
                margin-bottom: 30px;
    
                .italic-font {
                    font-style: italic;
                    color: $blue;
                }
            }

            p {
                @include paragraph-text;
                max-width: none;
            }
        }
    }
}