* {
    box-sizing: border-box;
    line-height: 1;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/first-screen-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% 1030px;
    background-color: $darkBlue;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}