.header {
    position: fixed;
    width: 100%;
    background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, 
                                        rgba(22, 25, 38, 0) 24.1%, 
                                        rgba(22, 25, 38, 0) 47.19%), 
                                        rgba(22, 25, 38, 0.02);
    backdrop-filter: blur(9px);
    z-index: 4;
    
    .container {
        padding: 28px 15px;
        display: flex;
        flex-direction: column;

        .company-logo {
            width: 107px;
            height: 32px;
            z-index: 11;
        }

        .header-nav {

            .menu-button {
                /*display: none;*/
                position: absolute;
                top: 23px;
                right: 15px;
                z-index: 100;
            }
        }
    }

    &--menu-active {

        background: linear-gradient(270deg, rgba(22, 25, 38, 0.5) 0%, 
                                            rgba(22, 25, 38, 0.7) 24.1%, 
                                            rgba(22, 25, 38, 0.7) 47.19%), 
                                            rgba(22, 25, 38, 0.02);
    
        .container {
            min-height: 100vh;
        }

        .header-nav {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9;
            padding: 30px 15px 30px;

            .menu-button {
        
                &__item {
                    &:nth-of-type(1) {
                        transform: translateY(-800%);
                    }
                    &:nth-of-type(2) {
                        transform-origin: center;
                        transform: rotate(45deg) translateY(-50%);
                    }
                    &:nth-of-type(3) {
                        transform-origin: center;
                        transform: rotate(-45deg);
                    }
                    &:nth-of-type(4) {
                        transform: translateY(800%);
                    }
                }
            }

            .menu {
                display: flex;
                
                &__item {
                    text-transform: uppercase; 
                }
            }
        }
    }
}